@use '../helpers' as *;

.donat {
  color: var(--color-dark);
  top: 0;

  &__title {
    font-size: rem(32);
  }

  &__finger {
    width: rem(600);
    margin-bottom: rem(-80);
    z-index: 1;
  }

  &__donat {
    width: rem(500);

    &-right {
      top: 0;
      z-index: 2;
      clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
    }
  }
}