@use '../helpers' as *;

.ozon {
  top: 0;
  perspective: 1000px;
  z-index: 30000;

  &__content {
    @include abs-center;
    @include flex-center();

    border-radius: 50%;
    width: 102px;
    height: 102px;
    background: var(--color-ozon-blue);
    z-index: 1;
  }

  &__img {
    width: 25vw;
  }

  &__card {
    @include abs-center;

    transform-style: preserve-3d;
    width: 35vw;
    aspect-ratio: 454/287;
    z-index: 1;

    img, .backface {
      position: absolute;
      top: 0;
      left: 0;
      backface-visibility: hidden;
      border-radius: rem(32);
    }

    img {
      object-fit: cover;
    }

    .backface {
      background: var(--color-ozon-pink);
      transform: rotateY(180deg);
    }
  }

  &__copy {
    top: 10%;
    left: 30%;
    rotate: -15deg;
    text-transform: uppercase;
    padding: rem(20) rem(40);
    border-radius: rem(22);
    border: 2px solid var(--color-ozon-pink);
    background: var(--color-light);
    color: var(--color-dark);
    white-space: nowrap;
    z-index: 1;

    @include hover {
      background: var(--color-ozon-pink);
      color: var(--color-light);
      animation: shake .6s linear infinite;
    }

    @keyframes shake {
      from {
        transform: rotate(0deg);
      }
      25% {
        transform: rotate(5deg);
      }
      50% {
        transform: rotate(0deg);
      }
      75% {
        transform: rotate(-5deg);
      }
      to {
        transform: rotate(0deg);
      }
    }
  }

  &__list {
    left: rem(20);
    bottom: rem(20);
    gap: rem(10);
    z-index: 1;
  }
  &__item {
    background: var(--color-light);
    border-radius: rem(12);
    color: var(--color-dark);
    font-size: rem(22);
    padding: rem(10) rem(20);
    width: 100%;
    will-change: transform, opacity;
  }
}