@use '../helpers' as *;

.space {

  &__background {
    opacity: 0;
  }

  &__title {
    display: inline-block;
    opacity: 0;
    animation: animate 3s ease-in-out alternate infinite;

    @keyframes animate {
      from {
        transform: translateY(-10px);
      }
      to {
        transform: translateY(10px);
      }
    }
  }

  &__img-container {
    top: 0;
    width: 300px;
    height: 300px;
    will-change: transform, opacity;
    transform-origin: center;
  }

  &__span {
    text-transform: uppercase;
    color: var(--color-accent);
    text-shadow: 0 0 10px var(--color-accent);
  }
}